<!--Footer-->
<!--Terms, etc.-->
<div class="footer-copyright py-3 text-center font-small">
  <div class="d-md-inline">
    <a class="col-lg-2 col-12 px-xl-5 px-lg-3"
       href="https://www.vtac.edu.au/contact/" target="_blank">Contact Us&nbsp;&nbsp;</a>
    <a class="col-lg-2 col-12 px-xl-5 px-lg-3"
       href="https://www.vtac.edu.au/about">&nbsp;&nbsp;About Us</a>  </div>
</div>
<!--/Terms, etc.-->
<section class="fat-footer">
  <div class="row me-0">
    <div class="col-md-4 col-sm-12 text-sm-left ps-5 pt-2 mt-4 font-small">
      <p>&copy; Victorian Tertiary Admissions Centre (VTAC)</p>
      <!-- Social icons -->
      <div class="pb-4 connect">
        <a href="https://www.facebook.com/vtacguide" target="_blank"
        ><img src="https://www.vtac.edu.au/files/images/icons/logo-facebook.png" alt="facebook"
        /></a>
        <a href="https://www.instagram.com/vtacguide/" target="_blank"
        ><img src="https://www.vtac.edu.au/files/images/icons/logo-instagram.png" alt="instagram"
        /></a>
        <a href="https://twitter.com/vtacguide" target="_blank"
        ><img src="https://www.vtac.edu.au/files/images/icons/logo-twitter.png" alt="twitter"
        /></a>
        <a href="https://www.youtube.com/user/vtacmedia" target="_blank"
        ><img src="https://www.vtac.edu.au/files/images/icons/logo-youtube.png" alt="youtube"
        /></a>
      </div>
      <!-- Social icons -->
      <p class="d-md-inline" style="position: relative; z-index: 2">
        <a class="pe-5" href="https://www.vtac.edu.au/copyright/" target="_blank">Copyright</a>
        <a class="pe-5" href="https://www.vtac.edu.au/privacy/" target="_blank">Privacy</a>
        <a href="https://www.vtac.edu.au/legals/" target="_blank">Legals</a>
      </p>
      <p class="mt-3">
        40 Park Street <br />
        South Melbourne VIC 3205 <br />
        AUSTRALIA
      </p>
      <p>
        Phone: <a class="d-inline" href="tel:+61399261020">+613 9926 1020</a>
        <br /><small>9:30am-5pm Melbourne time, Mon-Fri</small>
      </p>
    </div>
    <div class="col-md-8 col-sm-12">
    </div>
  </div>
</section>
<!--/Footer-->
