//Fonts
$vtac-font-family: 'Inter', sans-serif;
$vtac-header-font-family: 'Bitter', serif;
// Colours
// VTAC
$vtac-dark-blue:  #002F6C !default;
$vtac-logo-blue:  #44687d !default;
$vtac-dark-grey: #373534 !default;
$vtac-light-grey: #c4c7c8 !default;
$vtac-red: #990000 !default;
$vtac-lime-green: #aab300 !default;
//Material
$material-indigo: #0d47a1 !default;
$material-wine: #880e4f !default;
$material-cyan: #00838f !default;
$material-bluegrey: #607d8b !default;
$material-ultralight-indigo: #fafafc !default;
$material-ultralight-wine: #fcfafb !default;
$material-ultralight-cyan: #fafeff !default;
$material-ultralight-blue-grey: #f7fbfc !default;